dl.attention {
    background: var(--blockquote-background);
    border-left: 8px solid var(--primary-dark-color);
    color: var(--blockquote-foreground);
}

dl.attention dt {
    color: var(--primary-dark-color);
}
